<div class="container-center">
    <nav class="navbar navbar-expand-lg"  style="background-color: #57acd3;">
        <div class="container-md">    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " href="/page/">Inicio</a>
                    <a class="nav-link" href="/formulario/">Formulario</a>
                    <!-- <a class="nav-link" href="#">registro</a>-->
                </div>
            </div>
            <span class="navbar-brand" style="font-size: 25px;">22</span>
        </div>
    </nav>
</div>